@model IEnumerable<ConoPizzaWeb.Models.Products.Product>

@{
    ViewData["Title"] = "Burgers";
}
<section class="products section" id="products">
    <h2 class="section__title">
        Hamburgerat Më <br> Të Mirë
    </h2>

    <div class="products__container container grid">
        @foreach (var burger in Model)
        {
            <article class="products__card">
                <a href="@Url.Action("Index", "Product", new { id = burger.ProductId })">
                    <img src="@burger.ImageUrl" alt="image" class="products__img" />
                    <h3 class="products__name">
                        @burger.Title
                    </h3>
                    <span class="products__price">
                        @if (burger.Prices.Any())
                        {
                            @(burger.Prices.First().Price + "€")
                        }
                    </span>
                </a>

                <button class="products__button">
                    <i class="ri-shopping-bag-3-line"></i>
                </button>
            </article>
        }
    </div>
</section>
