@model IEnumerable<ConoPizzaWeb.Models.Products.Product>

@{
    ViewData["Title"] = "Pizza";
}

<section class="products section" id="products">
    <h2 class="section__title">
        Picat Më <br> Të Shijshme
    </h2>

    <div class="products__container container grid">
        @foreach (var pizza in Model)
        {
            <article class="products__card">
                <a href="@Url.Action("Index", "Product", new { id = pizza.ProductId })">
                    <img src="@pizza.ImageUrl" alt="image" class="products__img" />
                    <h3 class="products__name">
                        @pizza.Title
                    </h3>
                    <span class="products__price">
                        @if (pizza.Prices.Any())
                        {
                            @(pizza.Prices.First().Price + "€")
                        }
                    </span>
                </a>
                <button class="products__button">
                    <i class="ri-shopping-bag-3-line"></i>
                </button>
            </article>
        }
    </div>
</section>
