@model IEnumerable<ConoPizzaWeb.Models.Products.Product>

@{
    ViewData["Title"] = "Sandwich";
}
<section class="products section" id="products">
    <h2 class="section__title">
        Sandwichat Më <br> Fantastik
    </h2>

    <div class="products__container container grid">
        @foreach (var sandwich in Model)
        {
            <article class="products__card">
                <a href="@Url.Action("Index", "Product", new { id = sandwich.ProductId })">
                    <img src="@sandwich.ImageUrl" alt="image" class="products__img" />
                    <h3 class="products__name">
                        @sandwich.Title
                    </h3>
                    <span class="products__price">
                        @if (sandwich.Prices.Any())
                        {
                            @(sandwich.Prices.First().Price + "€")
                        }
                    </span>
                </a>

                <button class="products__button">
                    <i class="ri-shopping-bag-3-line"></i>
                </button>
            </article>
        }
    </div>
</section>
